<header>
    <nav>
        <a href="/" id="MyLibrary">My Library</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add New Authors</a></li>
            <li><a href="/books">Search Books</a> </li>
            <li><a href="/books/new">Add New Books</a></li>
        </ul>
    </nav>
</header>