<!DOCTYPE html>
<html lang="en">

<!-- This file will get rendered always -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <!-- Path is from server.js -->
    <script defer src="/javascripts/fileUpload.js"></script>

    <!-- defer is used to load files when the page is done loading -->
    <!-- The above script is used to upload the image file using filepond-plugin-file-encode -->
    <title>Mybrary</title>
</head>

<body>
    <img id="dogpic" alt="Mybrary Logo" width="200" height="200">
    <%- include('../partials/header.ejs') %>
        <%- include('../partials/errorMessages.ejs') %>
            <%-body%>
                <br>
                <%- include('../partials/Footer.ejs') %>
                    <script>
                        // Async call to get a random dog image
                        let dogpic = document.getElementById("dogpic")
                        let dog = fetch("https://dog.ceo/api/breeds/image/random").then(response => response.json()).then(data => {
                            dogpic.src = data.message;
                        })
                    </script>
</body>

</html>