<h2>New author</h2>
<!-- // create forms -->

<form action = "/authors" method = "POST">
    <!-- authors is referencing to post method in routes\authors.js -->
    <%- include('_form_fields')%> 
    <button type="submit" class="btn btn-primary">Create book</button>
    <a href="/authors" class="btn btn-secondary">Cancel</a>
</form>
